---

const { course, styles } = Astro.props;

---

<div
  class={`border border-[var(--color-green)] bg-[var(--color-base)]/5 rounded-lg p-8 flex flex-col gap-4 w-full md:max-w-[400px] ${styles}`}
>
<img loading="lazy" src={course.image} alt={course.title} class="w-full h-auto rounded-md" />
  <h5 class="text-xl font-bold">{course.title}</h5>
  <p class="underline">{course.subtitle}</p>
  <p class="text-left">{course.description}</p>
  <ul class="space-y-1 text-sm">
    {course.items.map((item: string) => (
      <li class="text-[var(--color-astronaut)] text-pretty">{item}</li>
    ))}
  </ul>
</div>
